@import '~bulma/sass/utilities/initial-variables';

$fullhd: 1152px + (2 * $gap);
$family-primary: 'OpenSans', 'Athiti';

$primary: #162c9b;
$secondary: #14288b;
$accent: #26a7ff;
$dark: #181818;
$light: #eaeaea;
$grey: #6b6d78;

$info: $accent;
$success: $green;
$warning: $yellow;
$danger: $red;
