@import '~bulma/sass/utilities/initial-variables';

$family-primary: 'OpenSans', 'Athiti';

$primary: #4171d6;
$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: #181818;
$text: $grey-dark;

$darkness: #121212;
