@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

html {
	font-family: Roboto;
	box-sizing: border-box;
}

body {
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}
